# Configuration de la base de données MongoDB
MONGODB_URI=mongodb://localhost:27017/mjp-training

# Configuration Next.js
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# Configuration JWT
JWT_SECRET=your_jwt_secret_here
